body { font-family: Arial, sans-serif; margin: 0; padding: 0; display: flex; }
nav {
    width: 300px;
    height: 100vh;
    background-color: #3f9ba6;
    padding-top: 20px;
    position: fixed;
    overflow-y: auto;
}
nav a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 10px;
}
nav a:hover {
    background-color: 	#0a6073;
}
.content {
    margin-left: 220px;
    padding: 20px;
}
h2 { 
    color: #333;
}
.container{
    display: block;
    align-self: center;
}